@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
button#close_edit_tab,
button#close_add_new_tab {
  background-color: #fff;
  border: none;
  margin: 2%;
  cursor: pointer;
  color: #ccc;
  font-size: 1.2em; }

#edit_div, #add_new_div {
  display: none;
  border: 1px solid #ccc;
  position: absolute;
  left: 23%;
  top: 9%;
  background-color: #fff;
  width: 56%;
  z-index: 999; }

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "PT Sans", sans-serif; }

header {
  background-color: #CF671F;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 999; }

header > ul li {
  display: block;
  float: left;
  margin: 10px 30px 10px 10px;
  position: relative; }

header a {
  text-decoration: none;
  color: #fff;
  cursor: pointer; }

header a:hover {
  border-bottom: 1px dotted #fff;
  background-color: transparent; }

header img {
  width: 15px; }

ul#header span {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ccc;
  font-size: .8em;
  color: #CF671F;
  text-align: center;
  padding: 5px 0;
  border: #ccc solid 1px;
  border-radius: 6px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s; }

header a:hover ~ span {
  visibility: visible;
  opacity: 1; }

li#logout {
  float: right; }

li#print {
  margin-left: 150px; }

.icon {
  display: none; }

div.nav {
  position: fixed;
  top: 40px;
  left: 0;
  padding-top: 50px;
  width: 10%;
  border-right-style: ridge;
  height: 100%;
  z-index: 2;
  background-color: #FFF; }

div#nav ul {
  list-style: none; }

div#nav ul a:hover {
  background-color: #fff; }

div#nav ul ul a {
  text-decoration: none;
  color: #ccc; }

div#nav ul ul {
  border: solid 1px #ccc;
  padding-left: 10%; }

div#nav ul ul li {
  font-size: 1.2em;
  line-height: 1.5em; }

div#nav ul ul a:hover {
  color: #CF671F; }

div#nav li {
  position: relative; }

.nav_icons {
  width: 50px;
  display: block;
  margin: auto;
  margin-top: 28%; }

p.nav_active {
  visibility: visible;
  text-align: center;
  /*color: #C25E03;*/
  color: #CF671F;
  margin-bottom: 10px; }

p.nav_name {
  visibility: hidden;
  text-align: center;
  color: #ccc; }

/*a#nav:hover p#nav_active{
  margin-bottom: 0;
  }
*/
a.nav_links {
  text-decoration: none;
  display: block;
  height: 120px;
  border: 1px solid #fff; }

a.nav_links:hover p.nav_name {
  visibility: visible; }

div#nav ul ul {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s;
  transform: translateX(50px); }

/* INNER UL SHOW */
div#nav li:hover > ul {
  left: 100%;
  visibility: visible;
  opacity: 1;
  transform: translateX(0px); }

#notification {
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: 23%;
  z-index: 105;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #FF7800;
  padding: 5px; }

#notification span.dismiss {
  border: 2px solid #FFF;
  padding: 0 5px;
  cursor: pointer;
  float: right;
  margin-right: 10px; }

#notification a {
  color: white;
  text-decoration: none;
  font-weight: bold; }

/* Formatting search box */
.is_on_menu {
  color: #000; }

.is_on_menu_not {
  color: #ccc; }

button#search {
  position: fixed;
  left: 120px;
  top: 45px;
  padding: 1%;
  margin: 1%;
  font-size: 1.2em;
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer; }

#item_box {
  display: none;
  width: 50%;
  /*background-color: #f0f0f0;*/ }

.result .edit {
  display: none;
  float: right;
  padding: 6px;
  background-color: #f0f0f0;
  border: none;
  color: #CF671F;
  margin-top: -31px;
  margin-right: 1px;
  clear: both; }

.result .edit:hover {
  cursor: pointer;
  display: block; }

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal_content {
  background-color: #fefefe;
  margin: 10% auto;
  /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }
  .modal_content form {
    width: 90%;
    margin: auto;
    margin-top: 7%; }

#add_new_modal, #edit_modal {
  display: none;
  /* Hidden by default */ }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

#clear_search {
  position: relative;
  top: -42px;
  left: 308px;
  border: #fff 1px solid;
  background-color: #fff;
  font-size: 1.5em;
  color: #cccccc; }

#clear_search:hover {
  color: #000000; }

.search-box {
  width: 27%;
  position: fixed;
  top: 45px;
  left: 11%;
  display: inline-block;
  font-size: 14px;
  z-index: 1; }

.search-box input[type="text"] {
  height: 50px;
  padding: 5px 10px;
  border: 1px solid #CCCCCC;
  font-size: 14px; }

.search-box input[type="text"], .result {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff; }

#new_item {
  font-style: italic;
  color: #cccccc; }

#new_item:hover {
  color: red; }

/* Formatting result items */
.result {
  position: absolute;
  z-index: 1;
  top: 67%;
  left: 0; }
  .result p {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer; }
    .result p:hover {
      background: #f2f2f2; }
    .result p:hover + button {
      display: block; }

div#container, div#i_container,
div#r_container, div#c_container,
div#wdl_container, div#wel_container {
  position: absolute;
  /*height:1400px;*/
  left: 500px;
  top: 45px;
  width: 412px;
  border: solid #CCC 1px; }

p.notes {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  position: absolute;
  left: 15px;
  top: 500px;
  font-size: 0.5em;
  color: #ccc; }

.date {
  /*position: relative;*/
  display: inline-block;
  margin-top: 4%;
  visibility: hidden; }

#menu:hover .date {
  visibility: visible; }

#i_menu:hover .date {
  visibility: visible; }

p.verticalSushi {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 0.7em;
  color: #aaaaaa;
  float: right;
  padding: 0 0 20px 20px; }

p.verticalSashimi {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 0.7em;
  color: #aaaaaa;
  float: right;
  padding: 0 0 9px 9px; }

img#fish-vertical {
  transform: rotate(90deg);
  margin-bottom: 10px; }

td.sustainable, td.sustainable_y {
  width: 17px; }

div#menu, div#i_menu,
div#r_menu, div#c_menu, div#c_menu,
div#wdl_menu, div#wel_menu {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%; }

div#menu_up {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  padding-bottom: 10%;
  padding-left: 10%; }

h1 {
  text-align: left;
  padding-left: 2%;
  margin: 2%;
  color: #CF671F;
  float: left;
  clear: left; }

h2 {
  text-align: left;
  padding-left: 2%;
  margin: 2%;
  color: #CF671F;
  float: left; }

/*
h1{
  font-size:1.5em;
}

h2{
  font-size:1.23em;
}
*/
#showResult {
  display: block;
  margin: auto;
  width: 100%;
  clear: both;
  font-size: .98em;
  line-height: 1.5em; }

td {
  vertical-align: center; }

tr:hover {
  background-color: #f5f5f5;
  cursor: -webkit-grab; }

td.name {
  display: inline;
  text-align: left; }

td.origin {
  display: inline;
  color: #aaaaaa; }

td.origin_small {
  font-size: 0.7em; }

td.price {
  text-align: center;
  padding: 0 2% 0 2%; }

td.space {
  width: 12px; }

a#print {
  position: fixed;
  bottom: 5%;
  left: 2%;
  text-decoration-line: none;
  background-color: #ccc;
  padding: 1% 1%;
  color: #fff;
  border-bottom: solid #000 1px;
  border-right: solid #000 1px;
  z-index: 100; }

a#print:hover {
  background-color: #CF671F; }

a#style {
  position: fixed;
  top: 0;
  left: 51%;
  text-decoration-line: none;
  background-color: #ccc;
  padding: 0 1%;
  color: #fff;
  border-bottom: solid #000 1px;
  border-right: solid #000 1px;
  z-index: 100; }

a:hover {
  padding: 0.2% 1.2%;
  background-color: #b0b1b2; }

div.gratuity {
  width: 80%;
  display: block;
  margin: auto;
  font-size: .5em;
  bottom: 2%;
  text-align: justify;
  line-height: 1em; }

#raw {
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: bold; }

/***Style for add form***/
/* div#add_form{
  width: 50%;
  position: absolute;
  top:50px;
  right:20px;
  font-size: 1em;
  border: solid 1px #ccc;
  padding-bottom: 2%;
} */
input#sushi_key {
  display: none; }

.form_column_long {
  padding: 2%;
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em; }

.div_column_medium {
  margin: auto;
  width: 84.5%; }

.form_column_medium {
  padding: 2%;
  width: 42%;
  display: inline-block;
  font-size: 1em; }

.div_column_medium > :first-child {
  margin-right: 5%; }

.div_label_checkbox {
  display: inline-block;
  width: 45%;
  text-align: center; }

#description,
#new_name, #new_origin {
  padding: 2%;
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em; }

textarea#description {
  height: 300px;
  border: solid 1px #ccc; }

input#sushiPrice {
  margin: 2% 2% 8% 7.5%; }

div#sustainable {
  padding: 2%;
  margin-top: 3.5%;
  font-size: 1em; }

input[type="submit"],
input[type="new_submit"] {
  display: block;
  margin: auto;
  clear: both;
  font-size: 1em;
  width: 200px;
  background-color: #CF671F;
  border-radius: 5px;
  color: #fff;
  padding: 2px;
  margin-bottom: 15%; }

.buttons {
  margin-bottom: 15%; }

.buttons input[type="submit"] {
  float: left;
  margin: 1% 0 0 37%; }

.buttons a {
  display: block;
  text-decoration: none;
  border: 1px solid #cccccc;
  padding: 1%;
  border-radius: 5px;
  color: #cccccc;
  float: right;
  margin-right: 10%; }

.buttons a:hover {
  background-color: #ffffff;
  color: #000000; }

/**ippin form**/
input#price {
  padding: 2%;
  width: 30%;
  margin: 2% 2% 2% 8%;
  /* display: block; */
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em; }

select#category {
  width: 30%;
  margin: 2% 2% 2% 8%;
  font-size: 1em; }

label.ippin {
  padding-left: 20%; }

div#sustainable_gf {
  padding: 2%;
  font-size: 1em; }

input#ippin_key {
  display: none; }

/**ippin page***/
div.gf {
  display: inline-block;
  vertical-align: top;
  font-size: .8em;
  width: 33px;
  /*padding-top: 5px;*/ }

.ippin_menu, .roll_menu {
  display: inline-block;
  width: 88%;
  line-height: 1.2em;
  margin-left: 5px; }

li.sortable {
  margin: 11px 0;
  list-style: none;
  cursor: -webkit-grab; }

li.sortable:hover {
  border: 1px solid #CCC; }

img#fish {
  display: block;
  float: right;
  margin-top: 5px; }

h1#ippin {
  float: none;
  margin-bottom: 20px; }

#show_result_ippin {
  /* font-size:0.9em; */
  display: block;
  margin: auto;
  width: 100%;
  max-height: 100%; }

#show_result_ippin ul.changed_height1 {
  line-height: 0.8em; }

#show_result_ippin ul.changed_height2 {
  line-height: 0.6em; }

#show_result_ippin ul.changed_height2 li {
  margin: 8px 0; }

#show_result_ippin ul.changed_height3 {
  line-height: 0.6em; }

#show_result_ippin ul.changed_height3 li {
  margin: 5px 0; }

div#i_menu.changed_height3 {
  margin-top: 5%; }

h1.changed_height3 {
  margin: 0 2%; }

h2.changed_height3 {
  margin: 0 2%; }

div.gf_changed_height3 {
  padding-top: 10px; }

/***Rolls***/
div.roll_description {
  color: #ccc;
  margin-left: 27px; }

h1.rolls {
  text-align: left;
  padding-left: 2%;
  margin: 2%;
  color: #CF671F;
  float: none; }

#show_result_rolls {
  display: block;
  margin: auto;
  width: 100%;
  max-height: 100%; }

div#show_result_rolls div#gf {
  display: inline-block;
  vertical-align: top;
  width: 17px; }

div#roll_description {
  font-size: .9em; }

/***course meals***/
.commands {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 200px; }
  .commands span {
    display: block;
    padding: 2%;
    cursor: pointer;
    text-align: left; }
  .commands > span {
    font-size: 1.2em; }
    .commands > span:hover {
      background-color: #f5f5f5; }

.change_order_dropdown {
  display: none;
  padding-left: 10%; }
  .change_order_dropdown span {
    display: inline-block;
    padding: 2%; }
    .change_order_dropdown span:hover {
      border: 1px solid #cccccc; }

div.additionals::after {
  content: " ";
  height: 0;
  display: block;
  clear: both; }

div.course_divs {
  clear: both;
  position: relative; }

.edit_list {
  display: none; }
  .edit_list span {
    padding: 2% 2% 2% 10%; }
    .edit_list span:hover {
      border: 1px solid #cccccc; }
    .edit_list span a {
      text-decoration: none;
      color: black; }
      .edit_list span a:hover {
        background-color: #ffffff; }

.edit_circle {
  display: none;
  position: absolute;
  top: 28%;
  right: 36%;
  z-index: 10;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background: #ffffff;
  color: #cccccc;
  line-height: 100px;
  text-align: center;
  cursor: pointer; }

.edit_circle a {
  text-decoration: none;
  color: #b0b1b2; }

.edit_circle a:hover {
  background-color: #ffffff; }

h2.course_titles {
  padding: 0px;
  float: left;
  margin: 0px; }

p.course_prices {
  float: right;
  font-size: 1em;
  color: #CF671F; }

div.additionals {
  margin-bottom: 10px;
  line-height: 0.9em; }

.add_name {
  color: #cccccc;
  display: block;
  float: left;
  clear: both; }

.add_price {
  color: #cccccc;
  display: block;
  float: right; }

div.courses ul {
  list-style: none;
  clear: both;
  line-height: 1em; }
  div.courses ul li {
    margin-bottom: 6px;
    clear: both; }

.choices {
  display: block;
  float: left;
  clear: both;
  color: #cccccc;
  font-size: 0.8em;
  font-style: italic; }

.items {
  margin-left: 62px; }

.item_names {
  display: block;
  float: left;
  font-size: 0.9em; }

.item_prices {
  display: block;
  float: right; }

.descriptions {
  margin-left: 62px;
  clear: both;
  font-size: 0.8em;
  color: #cccccc;
  line-height: 0.9em; }

#show_result_course input {
  border: 1px dotted #cccccc;
  font-size: 0.9em;
  display: none; }

input.add_price, input.item_prices {
  width: 7%;
  text-align: right; }

#show_result_course input.choices {
  width: 14%;
  font-size: 0.7em; }

#omakase .course_titles {
  font-size: 1.8em; }
#omakase .items {
  color: #CF671F; }
  #omakase .items .item_names {
    font-size: 1.2em; }

#show_result_course ul {
  list-style: none; }

.course_form input, .course_form textarea, .edit_course_form input, .edit_course_form textarea {
  border: none; }
.course_form input:focus, .course_form textarea:focus, .edit_course_form input:focus, .edit_course_form textarea:focus {
  border: 1px solid #cccccc; }

.edit_course_form {
  width: 80%;
  margin: 3% 10% auto;
  border: 1px solid #cccccc; }

.div_course_title {
  padding: 2%;
  width: 85%;
  margin: auto; }
  .div_course_title .form_column_medium:first-child {
    width: 75%;
    margin: 0 3% 0 0;
    text-align: left;
    font-size: 1.5em; }
  .div_course_title .form_column_medium {
    width: 10%;
    text-align: right;
    color: #CF671F;
    font-size: 1em; }

.addon_fields_wrap, .item_fields_wrap {
  margin: auto; }

.addon_fields_wrap .div_column_medium {
  position: relative; }
.addon_fields_wrap .div_column_medium input {
  color: #cccccc; }
.addon_fields_wrap .div_column_medium > :first-child {
  width: 75%; }
.addon_fields_wrap .div_column_medium > :nth-child(2) {
  width: 10%;
  text-align: right; }

.item_fields_wrap > div {
  width: 85%;
  margin: 1% auto;
  padding: 1%;
  position: relative; }

.item_fields_wrap {
  position: relative; }
  .item_fields_wrap .div_column_medium {
    width: 98%; }
  .item_fields_wrap .div_column_medium > :first-child {
    width: 75%; }
  .item_fields_wrap .div_column_medium > :nth-child(2) {
    width: 10%;
    text-align: right; }
  .item_fields_wrap .div_column_medium .form_column_medium {
    margin: 1% 1% 0 0; }
  .item_fields_wrap .form_column_long {
    display: inline-block;
    width: 91%;
    margin-left: 1%;
    height: 80px;
    position: relative; }
  .item_fields_wrap #sustainable {
    width: 80%; }
  .item_fields_wrap .div_choice .div_label_checkbox {
    text-align: left; }
    .item_fields_wrap .div_choice .div_label_checkbox label {
      font-style: italic;
      color: #cccccc;
      font-size: 0.8em; }
  .item_fields_wrap textarea[name="item_description[]"],
  .item_fields_wrap textarea[name="edit_item_description[]"] {
    display: none;
    color: #cccccc;
    font-family: "PT Sans", sans-serif; }

.new_section {
  position: relative;
  border: none;
  background-color: #ffffff;
  font-size: 1em;
  color: #cccccc;
  cursor: pointer; }

.new_section:hover {
  color: #000000; }

.new_section:hover .new_section_text {
  display: inline-block; }

.new_section_text {
  background-color: #cccccc;
  color: #ffffff;
  padding: 3%;
  font-size: 0.8em;
  display: none;
  border-radius: 5px;
  position: absolute;
  width: 162px;
  margin: 3px 0 0 10px;
  transition: 1s; }

.remove_field, .remove_description_field {
  position: absolute;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  color: #cccccc; }

.remove_field:hover, .remove_description_field:hover {
  color: #000000; }

.remove_field {
  top: 22%;
  right: -7%; }

.remove_description_field {
  display: none;
  right: -6%;
  top: 66%; }

.right_div {
  position: absolute;
  top: 45px;
  width: 23%;
  right: 1%;
  border: 1px #ccc solid;
  padding: 1%;
  color: #ccc; }

@media only screen and (max-device-width: 765px) {
  div.nav {
    left: -55px;
    width: 0px;
    transition: width 2s; }

  div.nav.responsive {
    width: 100%;
    left: -3px;
    padding-top: 0;
    transition: width 2s; }

  .icon {
    display: block; }

  .nav_icons {
    margin: 10% auto auto; }

  .search-box {
    width: 95%;
    left: 2%; }

  .right_div {
    top: 94px;
    width: 93%;
    left: 2%; }

  .modal_content {
    margin-top: 15%; }

  .form_column_long, .form_column_medium {
    width: 100%; }

  .form_column_long {
    height: 100px; }

  .div_label_checkbox {
    display: block;
    width: 100%;
    margin: 3% 0; }

  div#container, div#i_container, div#r_container, div#c_container, div#wdl_container, div#wel_container {
    left: 0;
    top: 94px;
    width: 95%;
    margin: 0% 2%; }

  #showResult {
    font-size: 0.7em; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  div.nav {
    left: -55px;
    width: 0px;
    transition: width 2s; }

  div.nav.responsive {
    width: 45%;
    left: -3px;
    padding-top: 0;
    transition: width 2s; }

  .icon {
    display: block; }

  .nav_icons {
    margin: 10% auto auto; }

  .search-box {
    width: 44%;
    left: 1%; }

  .right_div {
    position: fixed;
    width: 50%;
    top: 45px;
    right: 8px;
    height: 33px; }

  div#container, div#i_container, div#r_container, div#c_container, div#wdl_container, div#wel_container {
    position: fixed;
    left: 359px;
    top: 100px;
    width: 399px; }

  #showResult {
    font-size: 0.9em; } }

/*# sourceMappingURL=app.css.map */
