
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @font-face {
//   font-family: 'TheSansSemiBoldPlain'; 
//   src: url('http://localhost/public/css/TheSansSemiBoldPlain.ttf'); 
// }
// Variables
@import "variables";
// $font: 'PT Sans', sans-serif;;

@font-face {
  font-family: 'TheSans Plain'; 
  src: url('/fonts/TheSans Plain.ttf'); 
  font-weight: lighter;
}

$skt_color: #CF671F;
%close_tab_shared {
  background-color: #fff;
  border: none;
  margin: 2%;
  cursor: pointer;
  color: #ccc;
  font-size: 1.2em;
}

%form_div {
  display:none;
  border: 1px solid #ccc;
  position:absolute;
  left:23%;
  top:9%;
  background-color: #fff;
  width:56%;
  z-index:999;
}
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

*{
  margin: 0;
  padding: 0;
  
}
body{
      // font-family: $font;
      font-family: TheSans Plain;
      font-size: 1em;
      font-weight: lighter;
  }


header{
  background-color: $skt_color;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
  img{
    width: 15px;
  }
  &>ul li {
    display: block;
    float: left;
    margin: 10px 30px 10px 10px;
    position: relative;
  }
  li.nav-item {
    display: block;
    float: right;
    margin: 1% 3% 0 0;
    width: 6%;
    text-align: left;
  }
  li.dropdown{
    .dropdown-menu{
        display: none;
        background-color: #CF671F;
        a.dropdown-item{
            color: #FFFFFF;
            margin-top: 2%;
            &:hover{
              border-left: 5px solid #CCCCCC;
            }
        }
    }
  }
  a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover{
      border-bottom: 1px dotted #fff;
      background-color: transparent;
    }
    &:hover ~ span{
      visibility: visible;
      opacity: 1;
    }
  }
}



.home_icon{
  width: 20px;
}


ul#header span{
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #ccc;
  font-size: .8em;
  color: $skt_color;
  text-align: center;
  padding: 5px 0;
  border: #ccc solid 1px;
  border-radius: 6px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s

} 


li#logout{
  float: right;
}

li#print{
  margin-left: 150px;
}

.icon{
  display: none;
} 


div.nav{
  position: fixed;
  top:40px;
  left:0;
  padding-top:50px;
  width: 10%;
  border-right-style:ridge;
  height: 100%;
  z-index: 2;
  background-color: #FFF;
}

.nav_icons{
  width: 50px;
  display: block;
  margin: auto;
  margin-top: 28%;
}

p.nav_active{
  visibility: visible;
  text-align: center;
  /*color: #C25E03;*/
  color:$skt_color;
  margin-bottom: 10px;
}

p.nav_name{
  visibility: hidden;
  text-align: center;
  color:#ccc;
}

/*a#nav:hover p#nav_active{
  margin-bottom: 0;
  }
*/
a.nav_links{
  text-decoration: none;
  display:block;
  height: 120px;
  border: 1px solid #fff;
    &:hover p.nav_name{
        visibility: visible;
      }
  }

div#nav{ 
  ul{
    list-style: none; 
    a{
      &:hover{
        background-color: #fff;
      }
    }
    li{
      position: relative;
    }
    ul{
      position:absolute;
      left:0%;
      top:0;
      width:155px;
      visibility:hidden;
      opacity:0;
      transition: transform 0.2s;
      transform: translateX(50px);
      border: solid 1px #ccc;
      padding-left:10%;
      a{
        text-decoration: none;
        color: #ccc;
        &:hover{
          color: $skt_color;
        }
      }
      li{
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  }
}
/* INNER UL SHOW */
div#nav li:hover > ul{
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}



// Notification box
#notification, #update{
  position:fixed;
  bottom:1%;
  right:1%; 
  width:23%;
  // z-index:105;
  text-align:left;
  font-weight:normal;
  font-size:14px;
  font-weight:bold;
  color:white;
  background-color:#FF7800;
  padding:5px;
}
#notification span.dismiss, #update span.dismiss{
  border:2px solid #FFF;
  padding:0 5px;
  cursor:pointer;
  float:right;
  margin-right:10px;
}
#notification a, #update a{
  color:white;
  text-decoration:none;
  font-weight:bold
}




/* Formatting search box */

.is_on_menu{
  color: #000;
}

.is_on_menu_not{
  color: #ccc;
}


button#search{
  position: fixed;
  left: 120px;
  top:45px;
  padding: 1%;
  margin: 1%;
  font-size: 1.2em;
  background-color: #ccc;
  border: none;
  color: #fff;
  cursor: pointer;
}
#item_box{
display:none;
width:50%;
/*background-color: #f0f0f0;*/
}

.result .edit{
  display: none;
  float: right;
  padding: 6px;
  background-color: #f0f0f0;
  border: none;
  color: $skt_color;
  margin-top: -31px;
  margin-right:1px;
  clear:both;
}

.result .edit:hover{
  cursor: pointer;
  display: block;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_content {
  background-color: #fefefe;
  margin: 10% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  form {
    width: 90%;
    margin: auto;
    margin-top: 7%;
  }
}

#add_new_modal, #edit_modal{
  display: none; /* Hidden by default */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#edit_div, #add_new_div{
  @extend %form_div;
}

button#close_edit_tab, 
button#close_add_new_tab{
  @extend %close_tab_shared;
}

#clear_search{
  position: relative;
  top: -42px;
  left: 308px;
  border: #fff 1px solid;
  background-color: #fff;
  font-size: 1.5em;
  color: #cccccc;
}

#clear_search:hover{
  color: #000000;    
}

.search-box{
      width: 343px;
      position: fixed;
      top:45px;
      left:11%;
      display: inline-block;
      font-size: 14px;
      z-index:1;
  }

.search-box input[type="text"]{
      height: 50px;
      padding: 5px 10px;
      border: 1px solid #CCCCCC;
      font-size: 14px;
          }

.search-box input[type="text"], .result{
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
          }


#new_item{
  font-style: italic;
  color: #cccccc;
}

#new_item:hover {
  color: red;
}

/* Formatting result items */
.result {
  position: absolute;        
  z-index: 1;
  top: 67%;
  left: 0;
  p{
      margin: 0;
      padding: 7px 10px;
      border: 1px solid #CCCCCC;
      border-top: none;
      cursor: pointer;

      &:hover{
          background: #f2f2f2;
      }
      
      &:hover + button{
        display: block;
      }
  }
}



div#container, div#i_container, 
div#r_container, div#c_container,
div#wdl_container, div#wel_container{
  position:absolute;
  /*height:1400px;*/
  left: 40%;
  top:45px;
  width: 412px;
  border: solid #CCC 1px;
}

p.notes {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  position: absolute;
  left: 15px;
  top:500px;
  font-size: 0.5em;
  color:#ccc;
}



.date {
  /*position: relative;*/
  display: inline-block;
  margin-top:4%;
  visibility: hidden;
}

#menu:hover .date {
  visibility: visible;
}

#i_menu:hover .date {
  visibility: visible;
}


p.verticalSushi {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-size: 0.7em;
      color:#aaaaaa;
      float:right;
      padding: 0 0 20px 20px;
}

p.verticalSashimi {
      writing-mode: tb-rl;
      transform: rotate(-180deg);
      font-size: 0.7em;
      color:#aaaaaa;
      float:right;
      padding: 0 0 9px 9px;
}

img#fish-vertical{
  transform: rotate(90deg);
  margin-bottom:10px;
}

td.sustainable, td.sustainable_y{
  width:17px;
}

div#menu, div#i_menu,
div#r_menu, div#c_menu, div#c_menu,
div#wdl_menu, div#wel_menu {
  width:90%;
  display: block;
  margin:auto;
  margin-top:10%;
  padding-bottom: 10%;
  padding-left: 10%;
}

div#menu_up {
  display:block;
  width:90%;
  margin: auto;
  margin-top:5%;
  padding-bottom: 10%;
  padding-left: 10%;
}

h1{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
  float: left;
  clear:left;
  font-weight: lighter;
}

h2{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
  float: left;
  font-weight: 400;
}

#showResult{
  display:block;
  margin:auto;
  width:100%;
  clear: both;
  font-size: .98em;
  line-height: 1.5em;
}

td{
  vertical-align: center;
}

// tr:hover {
//   background-color: #f5f5f5;
//   cursor: -webkit-grab;
// }

td.name{
  display:inline;
  text-align: left;
}

td.origin{
  display:inline;
  color:#aaaaaa;
}

td.origin_small{
  font-size: 0.7em;
}

td.price{
  text-align: center;
  padding: 0 2% 0 2%;
}

td.space{width:12px;}

a#print{
  position: fixed;
  bottom: 5%;
  left: 2%;
  text-decoration-line: none;
  background-color: #ccc;
  padding: 1% 1%;
  color: #fff;
  border-bottom: solid #000 1px;
  border-right: solid #000 1px;
  z-index: 100;
}

a#print:hover{
  background-color: $skt_color;
}

a#style{
  position: fixed;
  top: 0;
  left: 51%;
  text-decoration-line: none;
  background-color: #ccc;
  padding: 0 1%;
  color: #fff;
  border-bottom: solid #000 1px;
  border-right: solid #000 1px;
  z-index: 100;
}

a:hover{
  padding: 0.2% 1.2%;
  background-color: #b0b1b2;
}

div.gratuity{
  width:80%;
  display:block;
  margin:auto;
  font-size: .5em;
  bottom:2%;
  text-align: justify;
  line-height: 1em;
}

#raw {
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: bold;
}





/***Style for add form***/
/* div#add_form{
  width: 50%;
  position: absolute;
  top:50px;
  right:20px;
  font-size: 1em;
  border: solid 1px #ccc;
  padding-bottom: 2%;
} */

input#sushi_key{
  display: none;
}

.form_column_long{
  padding: 2%;
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em;
}

.div_column_medium {
  margin: auto;
  width: 84.5%;
}

.form_column_medium{
  padding: 2%;
  // margin: 2% 2% 8% 2%;
  width: 42%;
  display: inline-block;
  font-size: 1em;
}

.div_column_medium > :first-child {
  margin-right: 5%;
}

.div_label_checkbox{
  display: inline-block;
  width: 45%;
  text-align: center;
}
#description,
#new_name, #new_origin {
  padding: 2%;
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em;
}

textarea#description{
  height: 300px;
  border: solid 1px #ccc;
}

input#sushiPrice{
  margin: 2% 2% 8% 7.5%;
}

div#sustainable {
  padding: 2%;
  margin-top:3.5%;
  font-size: 1em;
}

input[type="submit"],
input[type="new_submit"] {
  display: block;
  margin: auto;
  clear: both;
  font-size: 1em;
  width: 200px;
  background-color:$skt_color;
  border-radius: 5px;
  color: #fff;
  padding: 2px;
  margin-bottom: 15%;
}

.buttons{
  margin-bottom: 15%;
}
.buttons input[type="submit"] {
  float: left;
  // margin-bottom: 15%;
  margin: 1% 0 0 37%;
}

.buttons a{
  display: block;
  text-decoration: none;
  border: 1px solid #cccccc;
  padding: 1%;
  border-radius: 5px;
  color: #cccccc;
  float: right;
  margin-right: 10%;
}

.buttons a:hover{
  background-color: #ffffff;
  color: #000000;
}
/**ippin form**/
input#price{
  padding: 2%;
  width: 30%;
  margin: 2% 2% 2% 8%;
  /* display: block; */
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 1em;
}

select#category{
  width: 30%;
  margin: 2% 2% 2% 8%;
  font-size: 1em;
}

label.ippin{
  padding-left: 20%;
}

div#sustainable_gf {
  padding: 2%;
  font-size: 1em;
}

input#ippin_key{display: none;}




/**ippin page***/
div.gf{
  display: inline-block;
  vertical-align: top;
  font-size: .8em;
  width: 33px;
  /*padding-top: 5px;*/
}

.ippin_menu, .roll_menu{
  display: inline-block;
  width:88%;
  line-height: 1.2em;
  margin-left:5px;
  
}

img.fish {
  display: block;
  float: right;
  margin-top: 5px;
}

h1.page_title{
  float: none;
  margin-bottom: 20px;
}
#show_result_ippin{
  /* font-size:0.9em; */
  display:block;
  margin:auto;
  width:100%;
  max-height: 100%
}

@mixin new_margin($margin){
  margin: 11px - $margin 0;
}

@mixin new_line_height($line_height){
  line-height: $line_height;
}

#show_result_ippin{
  li.margin_9px{
    @include new_margin(2px);
  }
  li.margin_7px{
    @include new_margin(4px);
  }
  li.line_height_1em{
    @include new_line_height(1em);
  }
  li.line_height_08em{
    @include new_line_height(0.8em);
  }   
  li.line_height_06em{
    @include new_line_height(0.6em);
  }  
  div.line_height_06em{
    padding-top: 5px;
    img.fish{
      margin-top: 0;
    }
  }
  li.font_size09em{
    font-size: 0.9em;
  }
}

li.items {
  @include new_margin(0);
  list-style: none;
}

#show_result_ippin ul.changed_height1{
  line-height: 0.8em;
}

#show_result_ippin ul.changed_height2{
  line-height: 0.6em;
}

#show_result_ippin ul.changed_height2 li{
  margin: 8px 0;
}

#show_result_ippin ul.changed_height3{
  line-height: 0.6em;
}

#show_result_ippin ul.changed_height3 li{
  margin: 5px 0;
}

div#i_menu.changed_height3{
  margin-top:5%;
}

h1.changed_height3{
  margin:0 2%;
} 

h2.changed_height3{
  margin:0 2%;
}

div.gf_changed_height3{
  padding-top:10px;
}



/***Rolls***/

h1.rolls{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
  float: none;
}

#show_result_rolls{
  display:block;
  margin:auto;
  width:100%;
  max-height: 100%;
  div ul{
        list-style: none;
      li{
        margin-bottom: 2%;
      }
    }
  div.gf{
    width: 17px;
  }
  div.roll_description {
    font-size: .9em;
    line-height: .9em;
    color: #ccc;
    margin-left: 22px;
  }
}




/***course meals***/


.commands {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 200px;
  span {
    display: inline-block;
    padding: 2%;
    cursor: pointer;
    text-align: left;
  }
  >span{
    font-size: 1.2em;
    &:hover{
      background-color: #f5f5f5;
    }
  }
}

.add_new_icons, .edit_icons{
  width: 30px;
}

.edit_list span{
  display: block;
}

.change_order_dropdown {
  display: none;
  padding-left: 10%;
  span {
    display: inline-block;
    padding: 2%;
    &:hover{
      border: 1px solid #cccccc;
    }
  }
}

div.additionals::after{
  content: " ";
  height: 0;
  display: block;
  clear:both;
}

div.course_divs{
  clear:both;
  position: relative;
}

.edit_list{
  display: none;
  span{
    padding: 2% 2% 2% 10%;
    &:hover{
      border: 1px solid #cccccc;
    }
    a{
      text-decoration: none;
      color: black;
      &:hover{
        background-color: #ffffff;
      }
    }
    
  }
}

.edit_circle {
  display: none;
  position: absolute;
  top: 28%;
  right: 36%;
  z-index: 10;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background: #ffffff;
  color: #cccccc;
  // border: 1px solid #CCC;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.edit_circle a{
  text-decoration: none;
  color: #b0b1b2;
}

.edit_circle a:hover{
  background-color: #ffffff;
}


h2.course_titles{
  padding: 0px;
  float: left;
  margin: 0px;
}



p.course_prices{
  float: right;
  font-size: 1em;
  color: $skt_color;
}
div.additionals{
  margin-bottom: 10px;
  line-height: 0.9em;
}

.add_name{
  color:#cccccc;
  display: block;
  float: left;
  clear: both;
}

.add_price{
  color:#cccccc;
  display: block;
  float: right;
}

div.courses{
  ul{
    list-style: none;
    clear: both;
    line-height: 1em;

    li{
      // margin-left: 55px;
      margin-bottom: 3px;
      clear: both;
    }
  }
  .descriptions{
    font-size: 0.8em;
    margin-left: 62px;
  }
}
.choices{
  display: block;
  float: left;
  clear: both;
  color: #cccccc;
  font-size: 0.8em;
  font-style: italic;
}

.items{
  margin-left: 62px;
}
.item_names{
  display: block;
  float: left;
  font-size: 0.9em;
}

.item_prices{
  display: block;
  float: right;
}

.descriptions{
  clear: both;
  color: #cccccc;
  line-height: 0.9em;
}

#show_result_course input {
  border: 1px dotted #cccccc;
  font-size: 0.9em;
  display: none;
}

input.add_price, input.item_prices {
  width: 7%;
  text-align: right;
}

#show_result_course input.choices {
  width: 14%;
  font-size:0.7em;
}

//Omakase
#omakase{
  .course_titles{
    font-size: 1.8em;
  }
  .items{
    color:$skt_color;
  .item_names{
    font-size: 1.2em;
    }
  }
}

//course sotable
#show_result_course ul{
  list-style: none;
}
// course form


.course_form, .edit_course_form, .lunch_form, .edit_lunch_form{
  input, textarea{
    border: none;
  }
  input:focus, textarea:focus{
    border: 1px solid #cccccc;
  }
}

.edit_course_form{
  width: 80%;
  margin: 3% 10% auto;
  border: 1px solid #cccccc;
  
}

.div_course_title{
  padding: 2%;
  width: 85%;
  margin: auto;

  .form_column_medium:first-child {
    width: 75%;
    margin: 0 3% 0 0;
    text-align: left;
    font-size: 1.5em;
  }

  .form_column_medium{
    width:10%;
    text-align: right;
    color: $skt_color;
    font-size: 1em;
  }
}


.addon_fields_wrap, .item_fields_wrap {
  // padding: 2%;
  // width: 85%;
  margin: auto;
  // border: 2px dotted #CCC
}

.addon_fields_wrap {
  // position: relative;
  .div_column_medium{
    // border: 1px #ccc dotted;
    // margin: 1%;
    // padding: 1%;
    // width: 97%;
    position: relative;
  }
  .div_column_medium input{
    color: #cccccc;
  }
  .div_column_medium > :first-child {
    width: 75%;
  }

  .div_column_medium > :nth-child(2) {
    width: 10%;
    text-align: right;
  }

  // .div_column_medium .form_column_medium {
  //   margin: 6% 1% 6% 0;
  // }
}

.item_fields_wrap > div {
  width: 85%;
  margin: 1% auto;
  padding: 1%;
  position: relative;
}

.item_fields_wrap{
  position: relative;
  .div_column_medium{
    width: 98%;
    // margin-left: 18%;
  }

  .div_column_medium > :first-child {
    width: 75%;
  }

  .div_column_medium > :nth-child(2) {
    width: 10%;
    text-align: right;
  }

  .div_column_medium .form_column_medium {
    margin: 1% 1% 0 0;
  }

  .form_column_long {
    display: inline-block;
    width: 91%;
    margin-left: 1%;
    height: 80px;
    position: relative;
  }

  #sustainable{
    width: 80%;
    //margin: auto;
  }

  .div_choice .div_label_checkbox{
    text-align: left;
    label{
      font-style: italic;
      color: #cccccc;
      font-size: 0.8em;
    }
  }

  textarea[name="item_description[]"], 
  textarea[name="edit_item_description[]"]{
    // display: none;
    color: #cccccc;
    // font-family: $font;
    font-family: TheSans Plain;
    font-weight: lighter;
    font-size: 1em;
  }

}
.new_section {
  position: relative;
  border: none;
  background-color: #ffffff;
  font-size: 1em;
  color: #cccccc;
  cursor: pointer;
}

.new_section:hover{
  color: #000000;
}

.new_section:hover .new_section_text{
  display: inline-block;
}

.new_section_text{
  background-color: #cccccc;
  color: #ffffff;
  padding: 3%;
  font-size: 0.8em;
  display: none;
  border-radius: 5px;
  position: absolute;
  width: 162px;
  margin: 3px 0 0 10px;
  transition: 1s;
}
// #add_more_addons{ 
//   position: absolute;
// }

// #add_more_items{ 
//   position: absolute;
// }

.remove_field, .remove_description_field{
  position: absolute;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  color: #cccccc;
}

.remove_field:hover, .remove_description_field:hover{
  color: #000000;
}

.remove_field{
  top: 22%;
  right: -7%;
}

.remove_description_field{
  // display: none;
  right: -6%;
  top: 66%;
} 


.right_div {
  position: absolute;
  top: 45px;
  width: 250px;
  right: 1%;
  border: 1px #ccc solid;
  padding: 1%;
  color: #ccc;
}


/*******Lunch*******/
.lunch_menu{
  margin-bottom: 40px;
}

.combos{
  clear: both;
  margin-bottom: 10px;
  line-height: 0.9em;
  border: 1px solid #CCCCCC;
  padding: 10px 2px;
  .combo_title{
    color: #CCCCCC;
    margin-bottom: 5px;
  }
  .combo_desc{
    line-height: 16px;
  }
}

.l_items{
  ul{
    list-style: none;
    line-height: 1em;
    li{
      margin-bottom: 10px;
      clear: both;
    }
  }
  .descriptions{
    line-height: 1em;
    margin-left: 0;
  }
}

.titles{
  color:$skt_color;
  padding:0 0 4px 0;
  h1{
    margin: 0;
    padding: 0;
  }
  h4{
    clear: left;
  }
}

/******lunch form*******/

.div_lunch_title{
  border: 1px #CCCCCC solid;
  padding: 2%;
  // width: 85%;
  width:74%;
  margin: auto;

  .form_column_medium:first-child{
    font-size: 1.5em;
  }
  .form_column_medium{
    // display: inline-block;
    display: block;
    width: 96%;
    // margin: 0 3% 0 0;
    margin: auto;
    text-align: left;
    color: $skt_color;
  }
}

.combo_fields_wrap{
  
  padding: 2%;
  // width: 85%;
  width:90%;
  margin: auto;
  .form_column_medium, .form_column_long{
    display: block;
    width: 96%;
    margin: auto;
    // text-align: left;
  }
  .div_column_medium{
    border: 1px #CCCCCC solid;
    width: 87%;
  }
  input[type="text"]{
    color:#cccccc;
  }
  // .div_column_medium > :first-child {
  //   width: 80%;
  // }

  // .div_column_medium > :nth-child(2) {
  //   width: 10%;
  //   text-align: right;
  // }
  }

  .item_fields_wrap{
    padding: 2%;
    width:90%;
    &>div{
      border: 1px #CCCCCC solid;
      width: 85%;
    }
    .div_choice{
      clear:both;
    }
      .div_column_medium{
         &> :first-child{
          display: block;
          float: left;
        }
        &> :nth-child(2){
          display: block;
          float: right;
        }
      }
      .form_column_long {
        width: 95%;
        &:focus{
          width: 95%;
        }
      }
  }

//********drink pages**********//



%drink_divs{
  position: relative;
  margin: 0 0 1% 0;
}

%drink_icon_links{
  position: absolute;
  width: 20px;
  &:hover{
    cursor: pointer;
    background-color: inherit;
  }
}

%name_price_font_size{
  font-size: 1.1em;
  line-height: 1em;
}


.hh{ 
  margin-bottom: 5%;
  h1{
    margin-left: 0;
    padding-left: 0;
  }
  div{
    line-height: 1em;
    clear: both;
    &:nth-child(3){
      color: #cccccc;
    }
  }
}

.specials_title{ 
  margin: 2% 2% 0 0;
  padding-left: 0;
  line-height: 1em;
  &~p{
    clear: both;
    color: #cccccc;
  }
}
.line_height_08{
  line-height: 0.8em;
}

.drink_title{
  @extend %drink_divs; 
  margin-bottom: 2%;
  clear: both;
  padding-top: 3%;
  position: relative;
  hr{
    width: 80%; 
  }
  h2{
    margin: 4% 2% 4% 0;
    padding-left: 0;
    float: none;
    font-weight: lighter;
  }
  h3{
    color: $skt_color; 
    clear: both;
    font-weight: lighter;
    // padding-top: 5%;
  }
  p{
    line-height: 10px;
  }
  .drink_price{
    padding-top: 2%;
  }
}

.drink_categories{
  margin-bottom: 5%;
}

.rotating_wine{
  color: #CCCCCC;
  line-height: 15px;
}

.products{
  @extend %drink_divs; 
}

.small_margin{
  margin-bottom: 1%;
}

.no_margin{
  margin-bottom: 0%;
}

.small_margin_top {
  margin-top: 2% !important;
}

.float_span{
 // float: right;
  margin-left: 5px;
}

.no_margin_top{
  margin-top: 0 !important;
}
.drink_name{
  float: left;
  @extend %name_price_font_size;
}


.drink_price{
  float: right;
  position: relative;
  @extend %name_price_font_size;
}

p.bottle_size {
  float: right;
  margin-right: 3px;
  position: absolute;
  right: 0px;
  top: 12px;
  small{
    font-size: small;
  }
}

.drink_details{
  color: #ccc;
  clear: both;
  font-size: 0.8em;
  line-height: 1em;
  width: 90%;
  span{
    color: $skt_color;
  }
}

img.add_drinks, .edit_drinks{
  width: 20px;
  &:hover{
    width: 23px;
  }
}

a.add_new_category {
  @extend %drink_icon_links;
  top: 0;
  left: -25px;
}

a.edit_category {
  @extend %drink_icon_links;
  top: 10px;
  right: 0;
}

a.add_new_drink{
  @extend %drink_icon_links;
  top: 10px;
  left: -25px;
  padding: 0;
}

a.edit{
  @extend %drink_icon_links;
  right: -25px;
  padding: 0;
}

.bottle_size_hide, .sweetness_hide{
  display: none;
}

.bottle_size_hide {
  position: relative;
  p {
    position: absolute;
    top: 35px;
    right: 35px;
  }
}

h2.form_category{
  float: none;
}
form label{
  margin-left: 9%;
}

$page_height: 1300px;
$top_margin: 45px;

div.drink_container{
    position:relative;
    left: 200px;
    top:45px;
    width: 900px;
    // border: solid #CCC 1px;
  }

div.menu{
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  border: solid yellow 1px;
}

div.page2, .page4, .page6, .page8,
 .page1, .page3, .page5, .page7, .page_right, .page_left{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  bottom:0px;
  margin-top: 0px !important;
}

.pages{
  width: 100%;
  page-break-after: always;
  clear: both;
  border: solid #cccccc 1px;
}


// div.page2, .page4, .page6, .page8,
// .page1, .page3, .page5, .page7 {
//     //top:45px;
//     width: 49%;
//     height:100%;
//     position:absolute;
//     bottom:0px;
//     margin-top: 0px !important;
//     border: solid #CCC 1px;
//   }

//   //first page
// .page8, .page1{
//   top: $top_margin;
// }

// // second page
// .page6, .page3{
//   top: $top_margin + $page_height;
// }

// // third page
// .page2, .page7{
//   top: $top_margin + $page_height * 2;
// }

// // third page
// .page4, .page5{
//   top:$top_margin + $page_height * 3;
// }

// .page2, .page4, .page6, .page8 {
//   left:0;
// }

// .page1, .page3, .page5, .page7 {
//   right:0;
// }

// .page8{
//   .drink_title{
//     h3{
//       float: left;
//       margin-bottom: 2%;
//     }
//     // p{
//     //   float: right;
//     // }
//   }
//   .products{
//     clear: both;
//   }
// }

.title_div {
  padding-bottom: 10%;
  position: relative;
  p {
    color: #cccccc;
    &:nth-child(2){
      float: left;
    }
    &:nth-child(3){
      float: right;
    }
  }
}

.margin_top{
  margin-top: 6%;
}

.title{
  padding-left: 0;
  margin: 0;
  float: none;
  line-height: 1em;
}

.small_title_font{
  font-size: 1.8em;
  margin-top: 6%;
}

.small_font{
  font-size: 1.05em;
}

.font1_1em{ 
  font-size: 1.1em;
}

.font1_3em{ 
  font-size: 1.3em;
}

.no_padding{
  padding: 0;
}

.margin_bottom3{
  margin-bottom: 3%;
}

.large_margin{
  margin-bottom: 8%;
}

.margin_bottom12{
  margin-bottom: 12%;
}

.no_margin_bottom{
  margin-bottom: 0;
}

.breaks{
  display: block;
}


@media only screen 
and (max-device-width : 765px)  { 
  div.nav{
    // display: none;
    left: -55px;
    width: 0px;
    transition: width 2s;
  }
  
  div.nav.responsive{
    // display: block;
    width: 100%;
    left: -3px;
    padding-top: 0;
    transition: width 2s;
    // animation-duration: 1s;
    // animation-name: slidein;
  }

  .icon{
    display: block;
  }

  .nav_icons {
    margin: 10% auto auto;
  }
  

  .search-box {
    width: 95%;
    left: 2%;
  }

  #clear_search{
    left: 265px;
  }
  .right_div{
    top: 94px;
    width: 93%;
    left: 2%;
  }

  .modal_content{
    margin-top:15%;
  }
  .form_column_long, .form_column_medium{
    width:100%;
  }

  .form_column_long{
    height: 100px;
  }

  .div_label_checkbox {
    display: block;
    width: 100%;
    margin: 3% 0;
  }

div#container, div#i_container, div#r_container, 
div#c_container, div#wdl_container, 
div#wel_container{
    left: 0;
    top: 94px;
    width: 95%;
    margin: 0% 2%;
  }

#showResult{
  font-size: 0.7em;
}
}
@media only screen 
and (min-device-width : 768px) and (max-device-width : 1024px)  { 
  div.nav{
    left: -55px;
    width: 0px;
    transition: width 2s;
  }
  
  div.nav.responsive{
    width: 45%;
    left: -3px;
    padding-top: 0;
    transition: width 2s;
  }

  .icon{
    display: block;
  }

  .nav_icons {
    margin: 10% auto auto;
  }


  .search-box {
    width: 44%;
    left: 1%;
  }

  .right_div {
    position: fixed;
    width: 50%;
    top: 45px;
    right: 8px;
    height: 33px;
  }

  div#container, div#i_container, div#r_container, 
  div#c_container, div#wdl_container, 
  div#wel_container {
    position: fixed;
    left: 359px;
    top: 100px;
    width: 399px;
  }

  #showResult{
    font-size: 0.9em;
  }
}


@media only screen and (min-device-width: 1025px) {
    
}