
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @font-face {
//   font-family: 'TheSans Plain'; 
//   src: url('http://localhost/public/css/TheSans Plain.ttf'); 
// }
// Variables
@import "variables";
// $font: 'PT Sans', sans-serif;;
$skt_color: #CF671F;

@font-face {
  font-family: 'TheSans Plain'; 
  src: url('/fonts/TheSans Plain.ttf'); 
  font-weight: lighter;
}

@mixin font_style{
  text-align: left;
  color:$skt_color;
}

%close_tab_shared {
  background-color: #fff;
  border: none;
  margin: 2%;
  cursor: pointer;
  color: #ccc;
  font-size: 1.2em;
}

%form_div {
  display:none;
  border: 1px solid #ccc;
  position:absolute;
  left:23%;
  top:9%;
  background-color: #fff;
  width:56%;
  z-index:999;
}
// Bootstrap
// @import '~bootstrap/scss/bootstrap';


@page {
   size: 4.25in 14in;
  //  margin: 0;
}

header, #nav, #new_item, .right_div,
.modal, .search-box, .commands, #notification, #update,
.add_drinks, .edit_drinks, hr{
    display: none;
}
*{
  margin: 0;
  padding: 0;
}
body{
    // font-family: $font;
    font-family: TheSans Plain;
    font-weight: lighter;
    font-size: 1em;
  }


.hh{ 
  margin: 5% 0 5% 0;
  h1{
    margin-left: 0;
    padding-left: 0;
  }
  div{
    line-height: 1em;
    clear: both;
    &:nth-child(3){
      color: #cccccc;
    }
  }
}

.specials_title{ 
  margin: 2% 2% 0 0;
  padding-left: 0;
  line-height: 1em;
  &~p{
    clear: both;
    color: #cccccc;
  }
}

%drink_divs{
  // position: relative;
  margin: 0 0 3% 0;
}

.drink_categories{
  @extend %drink_divs; 
  margin-bottom: 2%;
  clear: both;
  h2{
    margin: 4% 2% 2% 0;
    padding-left: 0;
    float: none;
  }
  h3{
    color: $skt_color; 
    clear: both;
  }
}

.products{
  @extend %drink_divs; 
}

.small_margin{
  margin-bottom: 1%;
}

.no_margin{
  margin-bottom: 0%;
}

.small_margin_top {
  margin-top: 2% !important;
}

%name_price_font_size{
  font-size: 1.1em;
  line-height: 1em;
}

.drink_name{
  float: left;
  @extend %name_price_font_size;
}

.drink_price{
  float: right;
  @extend %name_price_font_size;
}

p.bottle_size {
  float: right;
  margin-right: 3px;
  font-size: small;
}

.drink_details{
  color: #ccc;
  clear: both;
  font-size: 0.8em;
  line-height: 1em;
}

img.add_drinks{
  width: 20px;
  // @extend %drink_icons;
  // top: 0;
  // right: 0;
}

div.menu{
    display:block;
    width:90%;
    margin: auto;
    margin:3%;
    margin-top:10%;
    padding:2%;
    margin-left:4%;
    // border: solid 1px Blue;
    // height:1195px;
    // & + div{
    //   margin-top: 50%;
    //   border: dashed;
    // }
}

h1{
  @include font_style;

}

h2{
  @include font_style;
}

// #showResult{
//   display:block;
//   margin:auto;
//   width:100%;
//   clear: both;
// //   border: solid 1px Blue;
// //   font-size: .98em;
// //   line-height: 1.5em;
// }

.title_div {
  padding-bottom: 10%;
  p {
    color: #cccccc;
    &:nth-child(2){
      float: left;
    }
    &:nth-child(3){
      float: right;
    }
  }
}

.margin_top{
  margin-top: 6%;
}

.title{
  padding-left: 0;
  margin: 0;
  float: none;
  line-height: 1em;
}

.small_title_font{
  font-size: 1.5em;
  padding-top: 6%;
}

.small_font{
  font-size: 0.9em;
}
