
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @font-face {
//   font-family: 'TheSansSemiBoldPlain'; 
//   src: url('http://localhost/public/css/TheSansSemiBoldPlain.ttf'); 
// }
// Variables
@import "variables";
$font: 'PT Sans', sans-serif;;
$skt_color: #CF671F;


@mixin font_style{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
}




%close_tab_shared {
  background-color: #fff;
  border: none;
  margin: 2%;
  cursor: pointer;
  color: #ccc;
  font-size: 1.2em;
}

%form_div {
  display:none;
  border: 1px solid #ccc;
  position:absolute;
  left:23%;
  top:9%;
  background-color: #fff;
  width:56%;
  z-index:999;
}
// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@page {
   size: 4.25in 14in;
   margin: 0;
}

header, #nav, #new_item, .right_div,
.modal, .search-box, .commands, #notification, #update{
    display: none;
}
*{
  margin: 0;
  padding: 0;
}
body{
      font-family: $font;
  }


div#container, div#i_container, 
div#r_container, div#c_container,
div#wdl_container, div#wel_container {
  width: 100%;
//   border: solid 1px #C25E03;
//   max-height:100vh;
  top: -45px;
  
}

p.notes {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  position: absolute;
  left: 15px;
  top:500px;
  font-size: 0.5em;
  color:#ccc;
}



.date {
  /*position: relative;*/
  display: inline-block;
  margin-top:4%;
  visibility: hidden;
}



p.verticalSushi {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 0.7em;
    color:#ccc;
    float:right;
    padding: 0 0 10px 25px;
}

p.verticalSashimi {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 0.7em;
    color:#ccc;
    float:right;
    padding: 0 0 0 15px;
}

img#fish-vertical{
  transform: rotate(90deg);
  margin-bottom:10px;
}

td.sustainable, td.sustainable_y{
  width:17px;
}

div#menu, div#i_menu,
div#r_menu, div#c_menu, div#c_menu,
div#wdl_menu, div#wel_menu {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:10%;
    padding:2%;
    margin-left:8%;
    // border: solid 1px Blue;
    // height:1195px;
}


div#menu_up {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:5%;
    padding:2%;
    margin-left:8%;
    border: solid 1px Blue;
    
    // display: block;
    // margin:auto;
    // margin-top:10%;
    // padding-bottom: 10%;
    // padding-left: 10%;
}

h1{
  @include font_style;
  float: left;
  clear:left;
}

h2{
  @include font_style;
}

/*
h1{
  font-size:1.5em;
}

h2{
  font-size:1.23em;
}
*/
#showResult{
  display:block;
  margin:auto;
  width:100%;
  clear: both;
//   border: solid 1px Blue;
//   font-size: .98em;
//   line-height: 1.5em;
}

td{
  vertical-align: center;
}


td.name{
  display:inline;
  text-align: left;
}

td.origin, td.origin_small{
  display:inline;
  color:#aaaaaa;
}

td.origin_small{
  font-size: 0.7em;
}

td.price{
  text-align: center;
  padding: 0 2% 0 2%;
}

td.space{width:12px;}



a#print:hover{
  background-color: $skt_color;
}

tr{
    vertical-align: center;
    font-size:0.9em;
}
table.style{
    line-height:30px;
}

td.sustainable{
    width:17px;
}

td.name{
    display:inline;
    text-align: left;
}

td.origin, td.origin_small{
    display:inline;
    color:#ccc;
}

td.origin_small{
    font-size: 0.7em;
}

td.price{
    /*TheMix
    font-family: font84093;
    font-family:Arial, Helvetica, sans-serif;*/
    text-align: center;
    padding: 0 2% 0 3%;
}
td.space{width:8px;}


.NoMargin{
    margin:0 2% 0 2%;
}
/*Menu items more than 34 less than 36*/
.lineHeight34{
    line-height:28px;
}
/*Menu items more than 37 less than 38*/
.lineHeight37{
    line-height:26px;
    
}
/*Menu items more than 39 less than 41*/
.lineHeight39{
    line-height:24px;
}
/*Menu items more than 42 less than 44*/
.lineHeight42{
    line-height:22px;
}

.lineHeight45{
    line-height:20px;
}

div.gratuity{
  width:70%;
  display:block;
  margin:auto;
  margin-left:5%;
  font-size: .6em;
  position: absolute;
  bottom:3%;
  text-align: justify;
  line-height: 1em;
}

#raw {
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: bold;
}


/**ippin page***/
div.gf{
  display: inline-block;
  vertical-align: top;
  font-size: .8em;
  width: 33px;
  /*padding-top: 5px;*/
}

.ippin_menu, .roll_menu{
  display: inline-block;
  width:88%;
  line-height: 1.2em;
  margin-left:5px;
  
}

li.sortable {
  margin: 11px 0;
  list-style: none;
  cursor:-webkit-grab;
  
}

li.sortable:hover{
  border: 1px solid #CCC;

}

img#fish {
  display: block;
  float: right;
  margin-top: 5px;
}

h1#ippin{
  float: none;
  margin-bottom: 20px;
}

#show_result_ippin{
  /* font-size:0.9em; */
  display:block;
  margin:auto;
  width:100%;
  max-height: 100%
}

#show_result_ippin ul.changed_height1{
  line-height: 0.8em;
}

#show_result_ippin ul.changed_height2{
  line-height: 0.6em;
}

#show_result_ippin ul.changed_height2 li{
  margin: 8px 0;
}

#show_result_ippin ul.changed_height3{
  line-height: 0.6em;
}

#show_result_ippin ul.changed_height3 li{
  margin: 5px 0;
}

div#i_menu.changed_height3{
  margin-top:5%;
}

h1.changed_height3{
  margin:0 2%;
} 

h2.changed_height3{
  margin:0 2%;
}

div.gf_changed_height3{
  padding-top:10px;
}



/***Rolls***/
h1.rolls{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
  float: none;
}

#show_result_rolls{
  display:block;
  margin:auto;
  width:100%;
  max-height: 100%;
  div ul{
        list-style: none;
      li{
        margin-bottom: 2%;
      }
    }
  div.gf{
    width: 17px;
  }
  div.roll_description {
    font-size: .9em;
    line-height: .9em;
    color: #ccc;
    margin-left: 22px;
  }
}


/***course meals***/
div.additionals::after{
  content: " ";
  height: 0;
  display: block;
  clear:both;
}

div.course_divs{
  clear:both;
  position: relative;
}

.edit_circle {
  display: none;
  position: absolute;
  top: 28%;
  right: 36%;
  z-index: 10;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background: #ffffff;
  color: #cccccc;
  // border: 1px solid #CCC;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.edit_circle a{
  text-decoration: none;
  color: #b0b1b2;
}

.edit_circle a:hover{
  background-color: #ffffff;
}


h2.course_titles{
  padding: 0px;
  float: left;
  margin: 0px;
}



p.course_prices{
  float: right;
  font-size: 1em;
  color: $skt_color;
}
div.additionals{
  margin-bottom: 10px;
  line-height: 0.9em;
}

.add_name{
  color:#cccccc;
  display: block;
  float: left;
  clear: both;
}

.add_price{
  color:#cccccc;
  display: block;
  float: right;
}

#show_result_course ul{
  list-style: none;
}

div.courses{
  ul{
    list-style: none;
    clear: both;
    line-height: 1em;

    li{
      // margin-left: 55px;
      margin-bottom: 6px;
      clear: both;
    }
     
  }
}
.choices{
  display: block;
  float: left;
  clear: both;
  color: #cccccc;
  font-size: 0.8em;
  font-style: italic;
}

.items{
  margin-left: 62px;
}
.item_names{
  display: block;
  float: left;
  font-size: 0.9em;
}

.item_prices{
  display: block;
  float: right;
}

.descriptions{
  margin-left: 62px;
  clear: both;
  font-size: 0.8em;
  color: #cccccc;
  line-height: 0.9em;
}

#show_result_course input {
  border: 1px dotted #cccccc;
  font-size: 0.9em;
  display: none;
}

input.add_price, input.item_prices {
  width: 7%;
  text-align: right;
}

#show_result_course input.choices {
  width: 14%;
  font-size:0.7em;
}

#omakase{
  .course_titles{
    font-size: 1.8em;
  }
  .items{
    color:$skt_color;
  .item_names{
    font-size: 1.2em;
    }
  }
}

// course form


.course_form, .edit_course_form{
  input, textarea{
    border: none;
  }
  input:focus, textarea:focus{
    border: 1px solid #cccccc;
  }
}

.edit_course_form{
  width: 80%;
  margin: 3% 10% auto;
  border: 1px solid #cccccc;
  
}

.div_course_title{
  padding: 2%;
  width: 85%;
  margin: auto;

  .form_column_medium:first-child {
    width: 75%;
    margin: 0 3% 0 0;
    text-align: left;
    font-size: 1.5em;
  }

  .form_column_medium{
    width:10%;
    text-align: right;
    color: $skt_color;
    font-size: 1em;
  }
}

.addon_fields_wrap, .item_fields_wrap {
  // padding: 2%;
  // width: 85%;
  margin: auto;
  // border: 2px dotted #CCC
}

.addon_fields_wrap {
  // position: relative;
  .div_column_medium{
    // border: 1px #ccc dotted;
    // margin: 1%;
    // padding: 1%;
    // width: 97%;
    position: relative;
  }
  .div_column_medium input{
    color: #cccccc;
  }
  .div_column_medium > :first-child {
    width: 75%;
  }

  .div_column_medium > :nth-child(2) {
    width: 10%;
    text-align: right;
  }

  // .div_column_medium .form_column_medium {
  //   margin: 6% 1% 6% 0;
  // }
}

.item_fields_wrap > div {
  width: 85%;
  margin: 1% auto;
  padding: 1%;
  position: relative;
}

.item_fields_wrap{
  position: relative;
  .div_column_medium{
    width: 98%;
    // margin-left: 18%;
  }

  .div_column_medium > :first-child {
    width: 75%;
  }

  .div_column_medium > :nth-child(2) {
    width: 10%;
    text-align: right;
  }

  .div_column_medium .form_column_medium {
    margin: 1% 1% 0 0;
  }

  .form_column_long {
    display: inline-block;
    width: 91%;
    margin-left: 1%;
    height: 80px;
    position: relative;
  }

  #sustainable{
    width: 80%;
    //margin: auto;
  }

  .div_choice .div_label_checkbox{
    text-align: left;
    label{
      font-style: italic;
      color: #cccccc;
      font-size: 0.8em;
    }
  }

  textarea[name="item_description[]"], 
  textarea[name="edit_item_description[]"]{
    display: none;
    color: #cccccc;
    font-family: $font;
  }

}
.new_section {
  position: relative;
  border: none;
  background-color: #ffffff;
  font-size: 1em;
  color: #cccccc;
  cursor: pointer;
}

.new_section:hover{
  color: #000000;
}

.new_section:hover .new_section_text{
  display: inline-block;
}

.new_section_text{
  background-color: #cccccc;
  color: #ffffff;
  padding: 3%;
  font-size: 0.8em;
  display: none;
  border-radius: 5px;
  position: absolute;
  width: 162px;
  margin: 3px 0 0 10px;
  transition: 1s;
}
// #add_more_addons{ 
//   position: absolute;
// }

// #add_more_items{ 
//   position: absolute;
// }

.remove_field, .remove_description_field{
  position: absolute;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  color: #cccccc;
}

.remove_field:hover, .remove_description_field:hover{
  color: #000000;
}

.remove_field{
  top: 22%;
  right: -7%;
}

.remove_description_field{
  display: none;
  right: -6%;
  top: 66%;
} 


.right_div {
  position: absolute;
  top: 45px;
  width: 23%;
  right: 1%;
  border: 1px #ccc solid;
  padding: 1%;
  color: #ccc;
}
