
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @font-face {
//   font-family: 'TheSansSemiBoldPlain'; 
//   src: url('http://localhost/public/css/TheSansSemiBoldPlain.ttf'); 
// }
// Variables
@import "variables";
// $font: 'PT Sans', sans-serif;;
$skt_color: #CF671F;

@font-face {
  font-family: 'TheSans Plain';  
  src: url('/fonts/TheSans Plain.ttf'); 
  font-weight: lighter;
}

@mixin font_style{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
}

// %close_tab_shared {
//   background-color: #fff;
//   border: none;
//   margin: 2%;
//   cursor: pointer;
//   color: #ccc;
//   font-size: 1.2em;
// }

// %form_div {
//   display:none;
//   border: 1px solid #ccc;
//   position:absolute;
//   left:23%;
//   top:9%;
//   background-color: #fff;
//   width:56%;
//   z-index:999;
// }
// // Bootstrap
// // @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

@page {
   size: 4.25in 14in;
   margin: 0;
}

header, #nav, #new_item, .right_div,
.modal, .search-box, .commands, #notification, #update,
.add_drinks, .edit_drinks, .date{
    display: none;
}
*{
  margin: 0;
  padding: 0;
}
body{
    // font-family: $font;
    font-family: TheSans Plain;
    font-weight: lighter;
    font-size: 1em;
  }


div#container, div#i_container, 
div#r_container, div#c_container,
div#wdl_container, div#wel_container {
  // width: 100%;
//   border: solid 1px #C25E03;
//   max-height:100vh;
  top: -45px;
  
}

p.notes {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  position: absolute;
  left: 15px;
  top:500px;
  font-size: 0.5em;
  color:#ccc;
}


p.verticalSushi {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 0.7em;
    color:#ccc;
    float:right;
    padding: 0 0 10px 25px;
}

p.verticalSashimi {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 0.7em;
    color:#ccc;
    float:right;
    padding: 0 0 0 15px;
}

img#fish-vertical{
  transform: rotate(90deg);
  margin-bottom:10px;
}

td.sustainable, td.sustainable_y{
  width:17px;
}

div#menu, div#i_menu,
div#r_menu, div#c_menu, div#c_menu,
div#wdl_menu, div#wel_menu {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:15%;
    padding:2%;
    margin-left:6%;
    // border: solid 1px Blue;
    // height:1195px;
}


div#menu_up {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:5%;
    padding:2%;
    margin-left:8%;
    border: solid 1px Blue;
    
    // display: block;
    // margin:auto;
    // margin-top:10%;
    // padding-bottom: 10%;
    // padding-left: 10%;
}

h1{
  @include font_style;
  float: left;
  clear:left;
}

h2{
  @include font_style;
}

/*
h1{
  font-size:1.5em;
}

h2{
  font-size:1.23em;
}
*/
#showResult{
  display:block;
  margin:auto;
  width:100%;
  clear: both;
//   border: solid 1px Blue;
//   font-size: .98em;
//   line-height: 1.5em;
}

td{
  vertical-align: center;
}


td.name{
  display:inline;
  text-align: left;
}

td.origin, td.origin_small{
  display:inline;
  color:#aaaaaa;
}

td.origin_small{
  font-size: 0.7em;
}

td.price{
  text-align: center;
  padding: 0 2% 0 2%;
}

td.space{width:12px;}



a#print:hover{
  background-color: $skt_color;
}

tr{
    vertical-align: center;
    font-size:0.9em;
}
table.style{
    line-height:30px;
}

td.sustainable{
    width:17px;
}

td.name{
    display:inline;
    text-align: left;
}

td.origin, td.origin_small{
    display:inline;
    color:#ccc;
}

td.origin_small{
    font-size: 0.7em;
}

td.price{
    /*TheMix
    font-family: font84093;
    font-family:Arial, Helvetica, sans-serif;*/
    text-align: center;
    padding: 0 2% 0 3%;
}
td.space{width:8px;}


.NoMargin{
    margin:0 2% 0 2%;
}
/*Menu items more than 34 less than 36*/
.lineHeight34{
    line-height:28px;
}
/*Menu items more than 37 less than 38*/
.lineHeight37{
    line-height:26px;
    
}
/*Menu items more than 39 less than 41*/
.lineHeight39{
    line-height:24px;
}
/*Menu items more than 42 less than 44*/
.lineHeight42{
    line-height:22px;
}

.lineHeight45{
    line-height:20px;
}

div.gratuity{
  width:70%;
  display:block;
  margin:auto;
  margin-left:5%;
  font-size: .6em;
  position: absolute;
  bottom:3%;
  text-align: justify;
  line-height: 1em;
}

#raw {
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: bold;
}


/**ippin page***/
div.gf{
  display: inline-block;
  vertical-align: top;
  font-size: .8em;
  width: 33px;
  /*padding-top: 5px;*/
}

.ippin_menu, .roll_menu{
  display: inline-block;
  width:88%;
  line-height: 1.2em;
  margin-left:5px;
  
}

h1.page_title{
  float: none;
  margin-bottom: 20px;
}

li.sortable {
  margin: 11px 0;
  list-style: none;
  cursor:-webkit-grab;
  
}

li.sortable:hover{
  border: 1px solid #CCC;

}

img.fish {
  display: block;
  float: right;
  //margin-top: 3px;
}

#show_result_ippin{
  /* font-size:0.9em; */
  display:block;
  margin:auto;
  width:100%;
  max-height: 100%
}

@mixin new_margin($margin){
  margin: 11px - $margin 0;
}

@mixin new_line_height($line_height){
  line-height: $line_height;
}

#show_result_ippin{
  li.margin_9px{
    @include new_margin(2px);
  }
  li.margin_7px{
    @include new_margin(4px);
  }
  li.line_height_1em{
    @include new_line_height(1em);
  }
  li.line_height_08em{
    @include new_line_height(0.8em);
  }   
  li.line_height_06em{
    @include new_line_height(0.6em);
  }  
  div.line_height_06em{
    padding-top: 5px;
    img.fish{
      margin-top: 0;
    }
  }
  li.font_size09em{
    font-size: 0.9em;
  }
}

#show_result_ippin ul.changed_height1{
  line-height: 0.8em;
}

#show_result_ippin ul.changed_height2{
  line-height: 0.6em;
}

#show_result_ippin ul.changed_height2 li{
  margin: 8px 0;
}

#show_result_ippin ul.changed_height3{
  line-height: 0.6em;
}

#show_result_ippin ul.changed_height3 li{
  margin: 5px 0;
}

div#i_menu.changed_height3{
  margin-top:5%;
}

h1.changed_height3{
  margin:0 2%;
} 

h2.changed_height3{
  margin:0 2%;
}

div.gf_changed_height3{
  padding-top:10px;
}



/***Rolls***/
h1.rolls{
  text-align: left;
  padding-left:2%;
  margin:2%;          
  color:$skt_color;
  float: none;
}

#show_result_rolls{
  display:block;
  margin:auto;
  width:100%;
  max-height: 100%;
  div ul{
        list-style: none;
      li{
        margin-bottom: 2%;
      }
    }
  div.gf{
    width: 17px;
  }
  div.roll_description {
    font-size: .9em;
    line-height: .9em;
    color: #ccc;
    margin-left: 22px;
  }
}


/***course meals***/
div.additionals::after{
  content: " ";
  height: 0;
  display: block;
  clear:both;
}

div.course_divs{
  clear:both;
  position: relative;
}

.edit_circle {
  display: none;
  position: absolute;
  top: 28%;
  right: 36%;
  z-index: 10;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  background: #ffffff;
  color: #cccccc;
  // border: 1px solid #CCC;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.edit_circle a{
  text-decoration: none;
  color: #b0b1b2;
}

.edit_circle a:hover{
  background-color: #ffffff;
}


h2.course_titles{
  padding: 0px;
  float: left;
  margin: 10px 0 0 0;
}



p.course_prices{
  float: right;
  font-size: 1em;
  margin-top: 10px;
  color: $skt_color;
}
div.additionals{
  margin-bottom: 10px;
  line-height: 0.9em;
}

.add_name{
  color:#cccccc;
  display: block;
  float: left;
  clear: both;
}

.add_price{
  color:#cccccc;
  display: block;
  float: right;
}

#show_result_course ul{
  list-style: none;
}

div.courses{
  ul{
    list-style: none;
    clear: both;
    line-height: 1em;

    li{
      // margin-left: 55px;
      margin-bottom: 3px;
      clear: both;
    }
  }
  .descriptions{
    font-size: 0.8em;
    margin-left: 62px;
  }
}

.choices{
  display: block;
  float: left;
  clear: both;
  color: #cccccc;
  font-size: 0.8em;
  font-style: italic;
}

.items{
  // margin-left: 62px;
  @include new_margin(0);
  list-style: none;
}
.item_names{
  display: block;
  float: left;
  font-size: 0.9em;
}

.item_prices{
  display: block;
  float: right;
}

.descriptions{
  clear: both;
  color: #cccccc;
  line-height: 0.9em;
}

#show_result_course input {
  border: 1px dotted #cccccc;
  font-size: 0.9em;
  display: none;
}

input.add_price, input.item_prices {
  width: 7%;
  text-align: right;
}

#show_result_course input.choices {
  width: 14%;
  font-size:0.7em;
}

#omakase{
  .course_titles{
    font-size: 1.8em;
  }
  .items{
    color:$skt_color;
  .item_names{
    font-size: 1.2em;
    }
  }
}


/*******Lunch*******/
.lunch_menu{
  margin-bottom: 40px;
}

.combos{
  clear: both;
  margin-bottom: 10px;
  line-height: 0.9em;
  border: 1px solid #CCCCCC;
  padding: 10px 2px;
  .combo_title{
    color: #CCCCCC;
    margin-bottom: 5px;
  }
  .combo_desc{
    line-height: 16px;
  }
}

.l_items{
  ul{
    list-style: none;
    line-height: 1em;
    li{
      margin-bottom: 10px;
      clear: both;
    }
  }
  .descriptions{
    line-height: 1em;
    margin-left: 0;
  }
}

.titles{
  color:$skt_color;
  padding:0 0 4px 0;
  h1{
    margin: 0;
    padding: 0;
  }
  h4{
    clear: left;
  }
}

