
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @font-face {
//   font-family: 'TheSans Plain'; 
//   src: url('http://localhost/public/css/TheSans Plain.ttf'); 
// }
// Variables
@import "variables";
// $font: 'PT Sans', sans-serif;;
$skt_color: #CF671F;
$gray: #CCCCCC;

@font-face {
  font-family: 'TheSans Plain';  
  src: url('/fonts/TheSans Plain.ttf'); 
  font-weight: lighter;
}

@mixin font_style{
  text-align: left;
  color:$skt_color;
}

@page {
   size: 8.5in 14in;
   margin: 0;
}

header, #nav, #new_item, .right_div,
.modal, .search-box, .commands, #notification, #update,
.add_drinks, .edit_drinks{
    display: none;
}
*{
  margin: 0;
  padding: 0;
}
body{
    // font-family: $font;
    font-family: TheSans Plain;
    font-weight: lighter;
    font-size: 1em;
  }

div.page_right, .page_left{
  width: 49%;
  display: inline-block;
  vertical-align: top;
  bottom: 0;
  margin-top: 0 !important;
  // border: 1px black solid;
}

.pages{
  width: 100%;
  page-break-after: always;
  clear: both;
}

// .page8{
//   .drink_title{
//     h3{
//       float: left;
//       margin-bottom: 2%;
//     }
//   }
//   .products{
//     clear: both;
//   }
// }

.page_right {
  right:0;
}

%drink_divs{
  position: relative;
  margin: 0 0 3% 0;
}



.drink_title{
  @extend %drink_divs; 
  margin-bottom: 2%;
  clear: both;
  padding-top: 3%;
  h2{
    margin: 4% 2% 4% 0;
    padding-left: 0;
    float: none;
    font-weight: lighter;
  }
  h3{
    color: $skt_color; 
    clear: both;
    font-weight: lighter;
  }
  // p{
  //   line-height: 10px;
  // }
  .drink_price{
    padding-top: 2%;
  }
}

.drink_categories{
  margin-bottom: 5%;
}

.rotating_wine{
  color: $gray;
  line-height: 1em; 
}

.products{
  @extend %drink_divs; 
}

.small_margin{
  margin-bottom: 1%;
}

.no_margin{
  margin-bottom: 0%;
}

.small_margin_top {
  margin-top: 2% !important;
}

%name_price_font_size{
  font-size: 1.1em;
  line-height: 1em;
}

.drink_name{
  float: left;
  color: #000000;
  @extend %name_price_font_size;
}

.drink_price{
  float: right;
  position: relative;
  @extend %name_price_font_size;
}

p.bottle_size {
  float: right;
  margin-right: 3px;
  position: absolute;
  right: 0px;
  top: 12px;
  font-size: small;
}

.drink_details{
  width: 90%;
  color: $gray;
  clear: both;
  font-size: 1em;
  line-height: 1em;
  span{
    color: $skt_color;
  }
}

// img.add_drinks{
//   width: 20px;
//   // @extend %drink_icons;
//   // top: 0;
//   // right: 0;
// }

div.menu{
    display:block;
    width:90%;
    margin: auto;
    margin:3%;
    margin-top:10%;
    padding:2%;
    margin-left:4%;
    // border: solid 1px Blue;
    // height:1195px;
    // max-height: fit-content(14in);
    // min-height: fit-content(14in);
}

h1{
  @include font_style;

}

h2{
  @include font_style;
}

#showResult{
  display:block;
  margin:auto;
  width:100%;
  clear: both;
//   border: solid 1px Blue;
//   font-size: .98em;
//   line-height: 1.5em;
}

.title_div {
  padding-bottom: 10%;
  p {
    color: $gray;
    &:nth-child(2){
      float: left;
    }
    &:nth-child(3){
      float: right;
    }
  }
}

.margin_top{
  margin-top: 6%;
}

.title{
  padding-left: 0;
  margin: 0;
  float: none;
  line-height: 1em;
}

.small_title_font{
  font-size: 1.5em;
  padding-top: 6%;
}

.font1_1em{ 
  font-size: 1.1em;
}

.font1_3em{ 
  font-size: 1.3em;
}

.small_font{
  font-size: 0.9em;
}

.no_padding{
  padding: 0;
}

.large_margin{
  margin-bottom: 8%;
}

.margin_bottom3{
  margin-bottom: 3%;
}

.margin_bottom12{
  margin-bottom: 12%;
}

.no_margin_bottom{
  margin-bottom: 0;
}

.breaks{
  display: block;
}